@font-face {
  font-family: "Figtree";
  src: url("assets/fonts/Figtree-VariableFont_wght.ttf");
}

:root {
  --yellow: #f4d04e;
  --gray-950: #111111;
  --gray-500: #6b6b6b;
  --white: white;

  --text-line-height: 1.5;

  --text-preset-1-size: 1.5rem;
  --text-preset-1-weight: 800;

  --text-preset-2-size: 1rem;
  --text-preset-2-weight: 500;

  --text-preset-3-size: 0.875rem;
  --text-preset-3-weight: 500;
  --text-preset-3-weight-bold: 800;

  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 0.75rem;
  --spacing-4: 1.5rem;

  --card-width: 24rem;
  --card-shadow: 0.5rem 0.5rem 0 0 var(--gray-950);
  --card-border: 1px solid var(--gray-950);
  --card-border-radius: 1.25rem;
  --img-border-radius: 0.625rem;
  --avatar-size: 2rem;
  --focus-width: 0.125rem;
  --focus-outline: var(--focus-width) dotted var(--gray-950);
  --focus-offset: 0.125rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--yellow);
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: var(--spacing-4);

  font-family: Figtree, sans-serif;
  font-size: var(--text-preset-2-size);
  font-weight: var(--text-preset-2-weight);
  line-height: var(--text-line-height);
}

.card {
  background-color: var(--white);
  max-width: var(--card-width);
  border: var(--card-border);
  box-shadow: var(--card-shadow);
  border-radius: var(--card-border-radius);

  display: flex;
  flex-direction: column;
  padding: var(--spacing-4);
  gap: var(--spacing-4);
}

.card-img {
  width: 100%;
  border-radius: var(--img-border-radius);
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var(--spacing-3);
}

.category {
  background-color: var(--yellow);
  padding: var(--spacing-2) var(--spacing-3);
  border-radius: var(--spacing-1);

  font-size: var(--text-preset-3-size);
  font-weight: var(--text-preset-3-weight-bold);
}

.date {
  font-size: var(--text-preset-3-size);
  font-weight: var(--text-preset-3-weight);
}

.title {
  color: var(--gray-950);
  text-decoration: none;
  border-radius: var(--spacing-2);

  &:hover,
  &:active {
    color: var(--yellow);
  }

  &:focus {
    outline: var(--focus-outline);
    outline-offset: var(--focus-offset);
  }

  h1 {
    font-size: var(--text-preset-1-size);
    font-weight: var(--text-preset-1-weight);
  }
}

.user-btn {
  display: flex;
  align-items: center;
  gap: var(--spacing-3);
  text-decoration: none;
  color: var(--gray-950);
  outline: none;

  &:hover .username,
  &:active .username {
    color: var(--yellow);
  }

  &:focus .username {
    outline: var(--focus-outline);
    outline-offset: var(--focus-offset);
  }
}

.avatar-img {
  width: var(--avatar-size);
  height: var(--avatar-size);
  border-radius: 50%;
}

.username {
  font-size: var(--text-preset-3-size);
  font-weight: var(--text-preset-3-weight-bold);
  border-radius: var(--spacing-1);
}

.attribution {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: var(--spacing-1);

  a {
    color: var(--gray-950);
    font-weight: var(--text-preset-3-weight-bold);
    border-radius: var(--spacing-1);

    &:hover,
    &:active {
      color: var(--gray-500);
    }

    &:focus {
      outline: var(--focus-outline);
      outline-offset: var(--focus-offset);
    }
  }
}
